/* utility */

.ar-bg-b{
    background-color: black;

}

.ar-text-w{
    color: white;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 55%;
}
/* / utility */

/* header */
 header .navbar-light .navbar-nav .nav-link {
    color: black
}

header .btn,
.jumbotron .btn,
.console-ps5 .btn{
    border-radius: 1.25rem;
}

header .ar-lens{
    width: 25px;
}

/* / header */

/* jumbotron */

.jumbotron{
    background-image: url("img/jumbo-bg.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0rem;
    margin-bottom: 0rem;
}



/* / jumbotron */


/* list-game*/

.list-game img{
width: 100%;
border-radius: 10px;
}

/* / list-game*/

/* no-limits + console ps5 */

.no-limits p,
.console-ps5 p,
.console-ps5 span,
.explore p{
    color: #727272;
    font-size: 1.2rem;
}

.no-limits h2,
.console-ps5 h2{
    font-size: 2.5rem;
}


.console-ps5 img{
    width: 100%;
}

.description{
    display: none;
}

@media screen and (min-width:768px) {
.console-ps5 .ar-ps5{
    display:flex;
    align-items: center;
}
    .console-ps5 .accessory{
        justify-content: space-around;
}

.description{
    
    display: flex;
    text-align: center;
}

    
}
/* / no-limits + console ps5 */

/* takes two */

.takes-two{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* / takes two */

/* new-games */

.new-game{
    background-color: #1f1f1f;
}

.new-game img{
    width: 100%;
    border-radius: 15px;
}

.new-game a,
.new-game h2,
.new-game h3{
    color: white;
    
}

/* / new-games */

/* explore play4 */

.card{
    border: none;
}


/* / explore play4 */


/* ps-plus */

.ps-plus{
    background-color: #bebcbb;
    width: 100vw;
}

/* ps-plus */

/* ps-now */

.ps-now{
    background-color: #161c3b;
    width: 100vw;
}

.ps-now p{
    color: white;
}
/* ps-now */