/* utility */

.ar-bg-b{
    background-color: black;

}

.ar-text-w{
    color: white;
}

 header .navbar-light .navbar-nav .nav-link {
    color: black
}

header .btn{
    border-radius: 1.25rem;
}

header .ar-lens{
    width: 25px;
}